<div class="input">
  <span class="input__title">{{placeholder}}</span>
  <input
    class="{{class}} input__field"
    type="{{type}}"
    placeholder="{{placeholder}}"
    name="{{name}}"
  />
  <span class="{{errorClass}} input__error">{{errorText}}</span>
</div>