<div class="chat">
  <aside class="chat__left-column">
    {{{profileLink}}}
    {{{searchInput}}}
    <hr class="divider_h" />
    <div class="chat__list">
      {{{shortView}}}
      <hr class="divider_h" />
    </div>
  </aside>
  <section class="chat__right-column">
    <div class="chat__messages">
      {{#each messages}}
        {{#if this.isMy}}
          <div class="chat__message_my"><p>{{this.text}}</p><small
            >{{this.time}}</small></div>
        {{else}}
          <div class="chat__message_other"><p>{{this.text}}</p><small
            >{{this.time}}</small></div>
        {{/if}}
      {{/each}}</div>
    <form name="newMessage" class="chat__input-form">
      <input
        type="text"
        name="message"
        placeholder="message..."
        class="chat__message-input"
        required
      /><button class="chat__send-button" name="submit"><img
          src="{{sendIconUrl}}"
          alt="send message"
        /></button></form></section>
</div>