{{#if current}}
<div class="short-view short-view_active">
{{else}}
<div class="short-view">
{{/if}}
  {{{avatarComponent}}}
  <div class="short-view__central-column">
    <h3 class="short-view__username">{{title}}</h3>
    <p class="short-view__short-text">{{last_message}}</p>
  </div>
  <div class="short-view__right-column">
    {{#if unread_count}}
      <div class="short-view__unread-number">{{unread_count}}</div>
    {{/if}}
  </div>
</div>