<div class="short-view">
  {{{avatar}}}
  <div class="short-view__central-column">
    <h3 class="short-view__username">{{userName}}</h3>
    <p class="short-view__short-text">{{shortText}}</p>
  </div>
  <div class="short-view__right-column">
    <small class="short-view__last-message-time">{{lastMessageTime}}</small>
    {{#if unreadNumber}}
      <div class="short-view__unread-number">{{unreadNumber}}</div>
    {{/if}}
  </div>
</div>